@page
@model Lab_Zhuliuk_90331.Areas.Admin.Pages.CreateModel
@section Scripts{
    <script src="~/lib/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
            bsCustomFileInput.init();
    </script>
}


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plants</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plants.PlantsName" class="control-label"></label>
                <input asp-for="Plants.PlantsName" class="form-control" />
                <span asp-validation-for="Plants.PlantsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plants.Description" class="control-label"></label>
                <input asp-for="Plants.Description" class="form-control" />
                <span asp-validation-for="Plants.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plants.Image" class="control-label"></label>
                <div class="custom-file mt-3">
                    <input type="file" asp-for="Plants.Image" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Выберите файл</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Plants.PlantsGroupId" class="control-label"></label>
                <select asp-for="Plants.PlantsGroupId" class="form-control" asp-items="ViewBag.PlantsGroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

